<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.quartzo.ircontrol"
    android:versionCode="1"
    android:versionName="1.0">

    <!-- Min/target SDK versions (<uses-sdk>) managed by build.gradle -->

    <application
        android:name="com.quartzo.ircontrol.application.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.quartzo.ircontrol.activities.DeviceListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.quartzo.ircontrol.activities.DeviceActivity"
            android:label="@string/title_activity_ambiente"
            android:parentActivityName="com.quartzo.ircontrol.activities.DeviceListActivity"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.quartzo.ircontrol.activities.DeviceListActivity" />
        </activity>
        <activity
            android:name="com.quartzo.ircontrol.activities.ApplianceListActivity"
            android:label="@string/title_activity_devices_list"
            android:parentActivityName="com.quartzo.ircontrol.activities.DeviceListActivity"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.quartzo.ircontrol.activities.DeviceListActivity" />
        </activity>
        <activity
            android:name="com.quartzo.ircontrol.activities.ApplianceActivity"
            android:label="@string/title_activity_appliance"
            android:parentActivityName="com.quartzo.ircontrol.activities.ApplianceListActivity"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.quartzo.ircontrol.activities.ApplianceListActivity" />
        </activity>
        <activity
            android:name="com.quartzo.ircontrol.activities.CommandActivity"
            android:label="@string/title_activity_command"
            android:parentActivityName="com.quartzo.ircontrol.activities.ApplianceListActivity"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.quartzo.ircontrol.activities.ApplianceListActivity" />
        </activity>
    </application>

</manifest>
